<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>softwaretestingmaterial</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2d7b5">  <td>19/10/20 09:36:08</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestHerokuapp.afterTest()[pri:0, instance:tests.TestHerokuapp@105fece7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@299644693</td>   <td></td> </tr>
<tr bgcolor="a2d7b5">  <td>19/10/20 09:36:02</td>   <td>-6286</td> <td>&nbsp;</td><td title="&gt;&gt;TestHerokuapp.setUp()[pri:0, instance:tests.TestHerokuapp@105fece7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@299644693</td>   <td></td> </tr>
<tr bgcolor="a2d7b5">  <td>19/10/20 09:36:08</td>   <td>-649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHerokuapp.test_alerts()[pri:0, instance:tests.TestHerokuapp@105fece7]">test_alerts</td> 
  <td>main@299644693</td>   <td></td> </tr>
</table>
